.contentContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 80%;
  padding: 8px;

  margin-top: 60px;
  margin-bottom: 100px;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  align-self: center;
}

.leftContent {
  display: flex;
  height: 751px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.productTitle {
  color: #333;
  text-align: right;
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 147%; /* 35.28px */
  align-self: stretch;
}

.ratingStars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.ratingComments {
  color: #666;
  text-align: right;
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.productDescription {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg, 8px);
  align-self: stretch;
  color: #666;
  text-align: right;
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.divBuy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2-xl, 24px);
  align-self: stretch;
}

.priceQuantity {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.buttonGroup {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.productPrice {
  display: flex;
  align-items: center;
  gap: 6px;
  flex: 1 0 0;
  color: #333;
  font-family: Roboto Flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 147%; /* 35.28px */
}

.quantityProduct {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xl, 16px);
}

.rightContent {
  display: flex;
  align-self: center;
  height: 651px;
  position: relative;
  border-radius: var(--radius-sm, 4px);
  border: 1px solid #EEE;
  padding: 50px;
}

.productImage {
  display: flex;
  max-width: 590px;
  max-height: 651px;
  flex: 1 0 0;
  align-self: center;
  align-items: stretch;
}

.enlargeImage {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 15px;
  bottom: 15px;
  border-radius: 2px;
  border: 1px solid #eee;
  background: #ffffff;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  align-self: flex-end;
}
.enlargeImage:hover {
  background: #62d0b6;
  border: 1px solid #62d0b6;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .rightContent {
    margin-top: 24px;
  }

  .productImage {
    max-height: 80vw;
  }
}
