.incrementButton {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2-xl, 24px);
  border-radius: 4px;
  border: 1px solid #eee;
  background: #fff;
}

.quantityButton {
  display: flex;
  height: 50px;
  padding: 0px var(--spacing-xl, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2-xl, 24px);
  border-radius: 4px;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
}

.quantityButton:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: background-color 0.3s ease;
}

.quantityInsert {
  display: flex;
  align-items: center;
  gap: 30px;
  color: #333;
  text-align: center;
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
