.arrowButton {
  display: flex;
  width: 46px;
  height: 46px;
  padding: var(--spacing-lg, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100%;
  border: 1px solid #eee;
  background: #fff;
  cursor: pointer;
}

.arrow {
  display: flex;
  width: 16px;
  height: 16px;
  padding: 2px 4.667px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: (102, 102, 102, 1);
}

.arrowButton:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition: background-color 0.3s ease;
}

.arrowButton:hover img[alt="arrow"] {
  filter: brightness(0) invert(1);
}

.arrowButton:disabled {
  display: none;
  cursor: not-allowed;
}