.lower-banner-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-5-xl, 48px);

}


.lower-banner-img-card {
    position: absolute;
    padding: 90px 200px;
    width: 696px;
    height: 320px;
    flex-shrink: 0;

}

.lower-banner-text-card {
    display: flex;
    position: absolute;
    padding: 90px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-3-xl, 32px);
    flex: 1 0 0;
}

.lower-banner-text-card-title {
    align-self: stretch;
    padding-left: 90px;
    color: #FFF;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

}

.lower-banner-text-card-description {
    align-self: stretch;
    padding-left: 900px;
    color: #FFF;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    /* 156.25% */
}

.lower-banner-button {
    display: flex;
    width: 200px;
    padding: var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 8px);
    border-radius: var(--radius-sm, 4px);
    border: 1px solid #62D0B6;
    background: #62D0B6;
    color: #FFF;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1660px) {
    .lower-banner-text-card {
        display: flex;
        height: 432px;
        position: absolute;
        padding: 90px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: var(--spacing-3-xl, 32px);
        flex: 1 0 0;
    }

    .lower-banner-text-card-title {
        align-self: stretch;
        padding-left: 0;
        color: #FFF;
        text-align: center;
        font-family: Roboto Flex;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: 70px;

    }

    .lower-banner-text-card-description {
        align-self: stretch;
        padding-left: 0;
        color: #FFF;
        text-align: center;
        align-items: center;
        font-family: Roboto Flex;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        word-wrap: break-word;
        /* 156.25% */
    }

   

    @media screen and (max-width: 428px) {
        .lower-banner-container {
            width: 100%;
            flex-shrink: 0;
        }

        .lower-banner-text-card {
            display: flex;
            width: 428px;
            height: 195px;
            padding: 0px var(--spacing-2-xl, 24px);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--spacing-2-xl, 24px);
            flex-shrink: 0;
        }
    }


}