.cart-content-container {
    display: flex;
    width: 1600px;
    height: auto;
    padding: var(--spacing-4-xl, 40px) 200px;
    align-items: flex-start;
    gap: var(--spacing-2-xl, 24px);
    flex-shrink: 0;
}

.cart-product-options-card {
    display: flex;
    width: 282px;
    height: 368px;
    padding: var(--spacing-xl, 16px);
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-xl, 16px);
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #FFF;

}

.cart-product-text {
    align-self: stretch;
    color: #333;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
}

.cart-product-value-wrapper {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-2-xl, 24px);
    align-self: stretch;
}

.cart-product-value-text {
    color: #666;
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px;
}

.cart-product-total-text {
    color: #666;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    flex: 1 0 0;
}

.cart-coupon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-lg, 8px);
    align-self: stretch;

}

.cart-coupon-container-text {
    color: #333;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart-coupon-container-wrapper {
    display: flex;
    padding-right: 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid #EEE;
    background: #FFF;
}

.coupon-text {
    color: #A5A5A5;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cart-coupon-button {
    display: flex;
    padding: 10px var(--spacing-xl, 16px) 11px var(--spacing-xl, 16px);
    justify-content: center;
    align-items: flex-end;
    gap: var(--spacing-lg, 8px);
    border-radius: var(--radius-sm, 4px) 4px var(--radius-sm, 4px) var(--radius-sm, 4px);
    border: 1px solid #62D0B6;
    border-radius: 4px;
    background: #FFF;
}

.cart-coupon-input {
    color: #A5A5A5;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
}

.cart-coupon-line {
    /*width: 250px*/
    width: 350px;
    height: 1px;
    background: #EEE;
}



.cart-coupon-submit-button {
    display: flex;
    padding: var(--spacing-xl, 16px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 8px);
    align-self: stretch;
    border-radius: var(--radius-sm, 4px);
    border: 1px solid #62D0B6;
    background: #62D0B6;
    color: #FFF;
    text-align: right;
    font-family: Roboto Flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    
}

