:root {
    --primary: #FFFFFF;
    --bg-primary: #FFFFFF;
    --secondary: #62D0B6;
    --title: #333333;
    --price-off: #F55157;
    --bg-red: #F55157;
    --description: #666666;
    --card-time-bg: #F8F8F8;
    --border-product: #EEEEEE;
    --border-love: #EEEEEE;
}