@import "../../assets/css/font.css";

@import "../../assets/css/colors.css";

.container {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: var(--radius-sm, 4px);
  border: 1px solid #eee;
  background: #fff;
}

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.productImage {
  display: flex;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 4px 4px 0px 0px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.listContainer {
  display: flex;
  padding: var(--spacing-xl, 16px);
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-xl, 16px);
  align-self: stretch;
}

.title {
  align-self: stretch;
  color: #333;
  text-align: right;
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.discount {
  color: #a5a5a5;
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration-line: line-through;
}

.discountPrice {
  color: #f55157;
  text-align: right;
  font-family: Roboto Flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 138.889% */
}

.price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}

.buttonSection {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-lg, 8px);
  align-self: stretch;
}

.container:hover {
  border: 1px solid var(--secondary);
  transition: border-color 20ms ease;
}
