.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary);
}
.section-details {
  display: flex;
  padding: var(--spacing-3-xl, 32px) 0;
  align-items: center;
  gap: var(--spacing-5-xl, 48px);
  align-self: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-cart-profile {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-3-xl, 32px);
}
.section-cart {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg, 8px);
}
.section-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg, 8px);
}
.section-content-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.welcome {
  color: #a5a5a5;
  text-align: center;
  font-family: Roboto Flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-nameuser {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}
.name-user {
  color: #333;
  font-family: Roboto Flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}
.section-icon-profile {
  display: flex;
  padding: var(--spacing-lg, 8px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #F8F8F8;
}
.section-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.section-logo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 4px;
  width: 44px;
  height: 44px;
}
.section-icon-cart {
  display: flex;
  padding: var(--spacing-lg, 16px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 50px;
  background: #F8F8F8;
}
.icon-cart {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}
.number-cart {
  display: flex;
  width: 18px;
  height: 18px;
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: absolute;
  right: 1px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #f55157;
}
.span-cart {
  width: 100%;
  height: 50%;
  color: #fff;
  font-family: "Roboto Flex", sans-serif;
  font-size: 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 795px) {
  .section-details {
    gap: var(--spacing-xl, 16px);
  }
  .section-cart-profile{
    order: 1;
  }
  .search-container{
    order:3;
  }
  .section-logo{
    order: 2;
  }
  
}